/* The Team */
#committee-top {
    background-image: url('../assets/site/team_img_colorised.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.committee-top {
    padding-top: calc(12rem + 74px);
    padding-bottom: 12rem;
    color: #66fcf1;
}

.thumbnail {
    border-radius: 50%;
    width: 225px;
    height: 225px;
    object-fit: cover;
    filter: drop-shadow(1px 3px 5px rgba(33, 33, 33, 0.6));
    transition: 0.3s;
    margin-bottom: 15px;
    border-width: 10px;
}

.thumbnail:hover {
    filter: drop-shadow(3px 6px 10px rgba(33, 33, 33, 0.6));
    transition: 0.3s;
}

.thumb-pink {
    border-style: solid;
    border-color: #ee4c7c;
}

.thumb-dark {
    border-style: solid;
    /* border-color: #1f2833; */
    border-color: #000029;
}

.thumb-blue {
    border-style: solid;
    border-color: #3C396A;
}

.thumb-green {
    border-style: solid;
    border-color: #00AA98;
}

.thumb-light {
    border-style: solid;
    border-color: #6C7580;
}

.member {
    margin: 30px 0;
}

.member-name {
    font-family: News Cycle;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    color: #1f2833;
    transition: 0.3s;
}

.member-desig {
    font-family: News Cycle;
    color: #858E99;
    font-size: 1.2rem;
    transition: 0.3s;
}

.member > img:hover {
    border-color: #1A1A43;
    transition: 0.3s;
}

/* Mobile - Horizontal */
@media (max-width: 768px) {

    /* Committee */
    .thumbnail {
        width: 200px;
        height: 200px;
        border-width: 9px;
    }

    .member-name {
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
    }
    
    .member-desig {
        font-size: 1.1rem;
    }

    .member {
        margin: 20px 0;
    }
}

/* Mobile */
@media (max-width: 576px) {

    /* Committee */
    .thumbnail {
        width: 150px;
        height: 150px;
        border-width: 7px;
    }

    .member-name {
        font-size: 1.3rem;
        letter-spacing: 0.2rem;
    }
    
    .member-desig {
        font-size: 1.0rem;
    }

    .member {
        margin: 15px 0;
    }
}