/* Colours:
Very Dark Grey: #0b0c10
Dark Grey: #1f2833
Medium Grey: #39424d
Semi-Light Grey: #858E99
Light Grey: #c5c6c7
Light Green: #66fcf1
Medium Green: #27ddcb
Dark Green: #45a29e
Dark Blue: #000029
Bright Blue: #1B37DB
Pink: #ee4c7c
 */

.bg-primary {
    background-color: #1f2833!important;
}

.bg-dark {
    background-color: #1f2833!important;
}

.bg-secondary {
    background-color: #66fcf1!important;
}

.bg-grey {
    background-color: #e5e6e7!important;
}

.bg-lightgrey{
    background-color: #f5f5f5!important;
}

.bg-footer {
    background-color: #1f2833!important;
}

.bg-pink {
    background-color: #ee4c7c!important;
}

.text-alt {
    color: #1f2833;
}

body {
    font-family: Lato, Work Sans;
    font-size: 20px;
}

::selection {
    background: #1B37DB!important;
    color: white!important;
}

/* Navbar */
a.navbar-brand {
    font-family: Poppins;
    font-weight: 300;
    transition: 0.3s;
}

.navbar-dark .navbar-nav .nav-link {
    color: #e5e6e7;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link {
    font-family: Poppins;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 1.0rem;
    letter-spacing: 0.2rem;
    transition: 0.3s;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #66fcf1;
    transition: 0.3s;
}

/* Panels */
.masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
    color: #66fcf1;
}

#masthead {
    background-image: url('../assets/site/masthead_img_colorised.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.masthead-header {
    font-family: Montserrat;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 4.3rem;
}

.masthead-text {
    color: #ee4c7c;
}

.page-section {
    padding: 6rem 0;
    color: #1f2833;
}

.info-section {
    font-family: News Cycle;
    font-size: 1.2rem;
    padding: 3rem 0;
    color: #1f2833;
}

.footer {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
}

.page-section-header {
    font-family: News Cycle, Lato;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3.2rem;
    letter-spacing: 0.2rem;
    margin-bottom: 40px;
}

.page-section-subheader {
    font-family: News Cycle, Lato;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.4rem;
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
    color: #39424D;
}

/* Leaderboard */

#comm-progress {
    margin-top: 20px;
    margin-bottom: 20px;
}

.subcomm-lb-panel {
    margin-top: 50px;
}

.indiv-lb-panel {
    margin-top: 20px;
}

.lb-text {
    font-family: News Cycle;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: #39424d;
}

/* Badges */
.award-badge {
    padding: 10px;
}

.award-badge > img {
    width: 225px;
    filter: drop-shadow(1px 3px 5px rgba(33, 33, 33, 0.6));
    transition: 0.3s;
}

/* .award-badge > img:hover {
    filter: drop-shadow(5px 8px 16px rgba(33, 33, 33, 0.6));
    transition: 0.3s;
} */

.badge-title {
    font-family: News Cycle;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    color: #1f2833;
}

.badge-text {
    font-family: Poppins;
    text-transform: uppercase;
    /* font-weight: bold; */
    color: #39424D;
    font-size: 0.95rem;
    transition: 0.3s;
}

.badge-text:hover {
    color: #2dd2fa;
    text-decoration: none;
    transition: 0.3s;
}

.modal-title {
    font-family: News Cycle;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
}

.modal-subtitle {
    font-family: News Cycle;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: #39424d;
}

.modal-body {
    font-size: 1.0rem;
}

/* Clock */
#clockdiv{
    font-family: Oxanium;
    color: #ee4c7c;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    font-size: 4.0rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

#clockdiv > div{
    padding-left: 4px;
    padding-right: 4px;
    display: inline-block;
}

#clockdiv div > span{
    padding-left: 4px;
    padding-right: 4px;
    display: inline-block;
}

.smalltext{
    font-size: 1.0rem;
}

.masthead-clock {
    font-family: Oxanium;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 3.0rem;
    color: #ee4c7c;
}

/* Snapshots */
#carouselIndicators {
    box-shadow: 5px 8px 16px rgba(33, 33, 33, 0.2);
}

.carousel-inner {
    height: 500px!important;
}

.carousel-item {
    background-size: cover;
    background-position: center;
    height: 100%;
}

.carousel-item-link {
    height: 100%;
    width: 100%;
}

/* Lightbox */
#lightboxOverlay { 
    position: fixed !important; 
    top: 0; 
    left: 0; 
    height: 100% !important; 
    width: 100% !important; 
}

#lightbox { 
    position: fixed !important; 
    top: 50% !important; 
    transform: translateY(-50%); 
}

/* Social */
img.fb-icon {
    width: 120px;
    transition: 0.3s;
    filter: saturate(0.7) contrast(3) hue-rotate(19deg) brightness(1.05);
}

img.fb-icon:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* Clock Mileage */
img.sheets-icon {
    width: 120px;
    transition: 0.3s;
    filter: saturate(3);
}

img.sheets-icon:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* .saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); } */

/* Footer */
.footer-col {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-text {
    font-family: Poppins;
    font-weight: 200;
    font-size: 0.95rem;
}

hr {
    border-color: white;
    width: 60%;
    align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-link {
    color: white;
    transition: 0.3s;
}

a.footer-link:hover {
    color: #ee4c7c;
    text-decoration: none;
    transition: 0.3s;
}

/* Rules */
a {
    color: #ee4c7c;
    transition: 0.3s;
}

a:hover {
    color: #D53363;
    transition: 0.3s;
}

ol > li {
    padding-bottom: 10px;
    padding-left: 5px;
}

ul > li {
    padding-bottom: 10px;
    padding-top: 5px;
}

table {
    font-size: 1.0rem;
}

.table-container {
    margin-bottom: 20px;
}

/* The Team */
#committee-top {
    background-image: url('../assets/site/team_img_colorised.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.committee-top {
    padding-top: calc(12rem + 74px);
    padding-bottom: 12rem;
    color: #66fcf1;
}

.thumbnail {
    border-radius: 50%;
    width: 225px;
    height: 225px;
    object-fit: cover;
    filter: drop-shadow(1px 3px 5px rgba(33, 33, 33, 0.6));
    transition: 0.3s;
    margin-bottom: 15px;
    border-width: 10px;
}

.thumbnail:hover {
    filter: drop-shadow(3px 6px 10px rgba(33, 33, 33, 0.6));
    transition: 0.3s;
}

.thumb-pink {
    border-style: solid;
    border-color: #ee4c7c;
}

.thumb-dark {
    border-style: solid;
    /* border-color: #1f2833; */
    border-color: #000029;
}

.thumb-blue {
    border-style: solid;
    border-color: #3C396A;
}

.thumb-green {
    border-style: solid;
    border-color: #00AA98;
}

.thumb-light {
    border-style: solid;
    border-color: #6C7580;
}

.member {
    margin: 30px 0;
}

.member-name {
    font-family: News Cycle;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    color: #1f2833;
    transition: 0.3s;
}

.member-desig {
    font-family: News Cycle;
    color: #858E99;
    font-size: 1.2rem;
    transition: 0.3s;
}

.member > img:hover {
    border-color: #1A1A43;
    transition: 0.3s;
}

/* .member > img:hover + h4.member-name {
    color: #00005C;
    transition: 0.3s;
}

.member > img:hover ~ span.member-desig {
    color: #1B37DB;
    transition: 0.3s;
} */

/* Rules and FAQ */
.info-head {
    padding-top: calc(9rem + 74px);
    padding-bottom: 9rem;
    background-color: rgba(31,40,51, 0.94);
    color: #66fcf1;
}

.btn-qa {
    /* height: 3.0rem; */
    /* background-color: #ee4c7c; */
    background-color: #39424d;
    color: #e9e9e9;
    box-shadow: 1px 3px 5px rgba(33, 33, 33, 0.2);
    transition: 0.3s;
    font-family: News Cycle;
    /* text-transform: uppercase; */
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-qa:hover{
    background-color: #ee4c7c;
    color: white;
    transition: 0.3s;
}

button.btn-qa[aria-expanded="true"]  {
    background-color: #ee4c7c;
    color: white;
    transition: 0.3s;
}

.card {
    font-size: 1.2rem;
    color: #39424d;
    transition: 0.3s;
}

.card:hover{
    box-shadow: 1px 3px 5px rgba(33, 33, 33, 0.2);
    transition: 0.3s;
}

.question {
    margin-bottom: 20px;
}

/* Badges */
.badge-card {
    box-shadow: 1px 3px 5px rgba(33, 33, 33, 0.2);
    transition: 0.3s;
    margin: 10px 0;
    padding: 15px 30px;
}

.badge-card:hover {
    box-shadow: 5px 8px 16px rgba(33, 33, 33, 0.2);
}

.badge-card-logo {
    height: 150px;
}

.badge-card-text {
    font-size: 1.2rem;
    color: #39424d;
}

/* DataTable */
.dataTables_info {
    font-size: 1.1rem;
}

.dataTables_paginate {
    font-size: 1.1rem;
}

/* Mobile - Horizontal */
@media (max-width: 768px) {

    body {
        font-size: 18px;
    }
    
    img.event-logo {
        height: 45px;
    }

    /* Panels */
    .masthead {
        padding-top: calc(5rem + 40px);
        padding-bottom: 5rem;
        color: #66fcf1;
    }
    
    .masthead-header {
        font-size: 2.8rem;
    }

    .page-section {
        padding: 4rem 0;
        color: #1f2833;
    }

    .info-section {
        font-size: 1.0rem;
        padding: 2rem 0;
        color: #1f2833;
    }

    .page-section-header {

        font-size: 2.2rem;
        margin-bottom: 30px;
    }
    
    .page-section-subheader {
        font-size: 1.7rem;
        letter-spacing: 0.2rem;
        margin-bottom: 15px;
    }
    
    /* Leaderboard */
    .lb-text {
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
    }

    /* Badges */
    .award-badge {
        padding: 10px;
    }

    .award-badge > img {
        width: 125px;
    }

    .badge-title {
        font-size: 1.2rem;
    }
    
    .badge-text {
        font-size: 0.95rem;
    }

    .modal-title {
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
    }

    .modal-subtitle {
        font-size: 1.1rem;
    }
    
    .modal-body {
        font-size: 1.0rem;
    }
    
    /* Clock */
    #clockdiv{
        font-size: 1.6rem;
    }

    .masthead-clock {
        letter-spacing: 0.1rem;
        font-size: 2.0rem;
    }

    /* Snapshots */
    .carousel-inner {
        height: 300px!important;
    }

    /* Footer */
    .footer-text {
        font-family: Poppins;
        font-weight: 200;
        font-size: 0.95rem;
    }

    /* Rules */
    table {
        font-size: 0.9rem;
    }

    .btn-qa {
        font-size: 1.1rem;
        letter-spacing: 0.1rem;
        padding-left: 20px;
        padding-right: 20px;
    }

    .card {
        font-size: 0.9rem;
    }

    /* Committee */
    .thumbnail {
        width: 200px;
        height: 200px;
        border-width: 9px;
    }

    .member-name {
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
    }
    
    .member-desig {
        font-size: 1.1rem;
    }

    .member {
        margin: 20px 0;
    }

    /* Info Pages */
    .info-head {
        padding-top: calc(7rem + 50px);
        padding-bottom: 7rem;
    }

    /* Badges */
    .badge-card-logo {
        height: 125px;
    }
    
    .badge-card-text {
        font-size: 1.0rem;
    }
}

/* Mobile */
@media (max-width: 576px) {

    body {
        font-size: 16px;
    }
    
    /* Navbar */
    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    img.event-logo {
        height: 40px;
    }

    /* Panels */
    .masthead {
        padding-top: calc(5rem + 50px);
        padding-bottom: 5rem;
        color: #66fcf1;
    }
    
    .masthead-header {
        font-size: 2.4rem;
    }

    .page-section {
        padding: 3rem 0;
        color: #1f2833;
    }

    .info-section {
        padding: 1.5rem 0;
        color: #1f2833;
    }

    .page-section-header {

        font-size: 2.0rem;
        margin-bottom: 30px;
    }
    
    .page-section-subheader {
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        margin-bottom: 15px;
    }
    
    /* Leaderboard */
    .lb-text {
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
    }

    /* Badges */
    .award-badge {
        padding: 10px;
    }

    .award-badge > img {
        width: 100px;
    }

    .badge-title {
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
    }
    
    .badge-text {
        font-size: 0.65rem;
        letter-spacing: 0.05rem;
    }

    .modal-title {
        font-size: 1.0rem;
        letter-spacing: 0.1rem;
    }

    .modal-subtitle {
        font-size: 0.95rem;
    }
    
    .modal-body {
        font-size: 0.9rem;
    }
    
    /* Clock */
    #clockdiv{
        font-size: 1.4rem;
    }

    .masthead-clock {
        letter-spacing: 0.1rem;
        font-size: 1.6rem;
    }

    /* Snapshots */
    .carousel-inner {
        height: 300px!important;
    }

    /* Footer */
    .footer-text {
        font-family: Poppins;
        font-weight: 200;
        font-size: 0.90rem;
    }

    /* Committee */
    .thumbnail {
        width: 150px;
        height: 150px;
        border-width: 7px;
    }

    .member-name {
        font-size: 1.3rem;
        letter-spacing: 0.2rem;
    }
    
    .member-desig {
        font-size: 1.0rem;
    }

    .member {
        margin: 15px 0;
    }

    /* Info Pages */
    .info-head {
        padding-top: calc(7rem + 50px);
        padding-bottom: 7rem;
    }

    /* Badges */
    .badge-card-logo {
        height: 100px;
    }
    
    .badge-card-text {
        font-size: 0.9rem;
    }
}