/* Snapshots */
#carouselIndicators {
    box-shadow: 5px 8px 16px rgba(33, 33, 33, 0.2);
}

.carousel-inner {
    height: 500px!important;
}

.carousel-item {
    background-size: cover;
    background-position: center;
    height: 100%;
}

.carousel-item-link {
    height: 100%;
    width: 100%;
}

/* Lightbox */
lightboxOverlay { 
    position: fixed !important; 
    top: 0; 
    left: 0; 
    height: 100% !important; 
    width: 100% !important; 
}

#lightbox { 
    position: fixed !important; 
    top: 50% !important; 
    transform: translateY(-50%); 
}

/* Mobile - Horizontal */
@media (max-width: 768px) {

    /* Snapshots */
    .carousel-inner {
        height: 300px!important;
    }
}

/* Mobile */
@media (max-width: 576px) {

    /* Snapshots */
    .carousel-inner {
        height: 300px!important;
    }
}