---
layout: default
title: GC50 Virtual Challenge
---

<!-- Masthead -->
<section id="masthead" class="masthead text-center bg-dark">
    <div class="container">
        {% include masthead.html %}
    </div>
</section>


<!-- Event Info -->
<section id="eventinfo" class="info-section bg-lightgrey">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11">
                <span class="eventinfo">
                    Take part in our first-ever Virtual Challenge for the GC community! The <strong>GC50 Virtual Challenge</strong> commemorates the GC community’s Golden Jubilee. Collaborate with fellow GC Community members to achieve 50,000km of running, swimming and cycling in 50 days, and at the same time compete in leaderboards, earn awesome digital badges, while keeping fit!
                </span>
            </div>
        </div>
    </div>
</section>


<!-- Leaderboard -->
<section id="leaderboard" class="leaderboard page-section">
    <div class="container">
        {% include lb.html %}
    </div>
</section>


<!-- Milestone Achievements -->
<section id="milestones" class="milestones page-section bg-grey">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11 text-center">
                <h2 class="page-section-header text-center">Milestone Achievements</h2>
                {% include milestones.html %}
            </div>
        </div>
    </div>
</section>


<!-- Digital Badges -->
<section id="badges" class="badges page-section bg-secondary">
    <div class="container text-alt">
        <div class="row justify-content-center">
            <div class="col-11 text-center">
                <h2 class="page-section-header text-center">Digital Badges</h2>
                Collect badges for your activity! Click the link below each badge to check out the badge winners!
                <br>
                <div class="row justify-contents-center text-center">
                    {% include badges.html %}
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Snapshots -->
<section id="pics" class="pics page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11 text-center">
                <h2 class="page-section-header">Snapshots</h2>
                {% include gallery.html %}
            </div>
        </div>
          
    </div>
</section>


<!-- FB Feed -->
<section id="fb-feed" class="fb-feed page-section bg-pink">
    <div class="container text-white">
        <div class="row justify-content-center">
            <div class="col-11 text-center">
                <h2 class="page-section-header">We're on Facebook!</h2>
                {% include social.html %}
            </div>
        </div>
    </div>
</section>


<!-- Submit Your Activity -->
<section id="activity" class="activity page-section bg-secondary">
    <div class="container text-alt">
        <div class="row justify-content-center">
            <div class="col-11 text-center">
                <h2 class="page-section-header">Get with the Programme!</h2>
                {% include activity.html %}
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<footer id="footer" class="footer bg-footer">
    <div class="container text-white">
        <div class="row text-center justify-content-center">
            <div class="footer-col text-left col-11 col-md-6">
                <h5>Contact Us</h5>
                <hr align="left">
                <p class="footer-text">
                    <a href="https://www.facebook.com/groups/GBADC3Community" class="footer-link" target="_blank">
                        <i class="fab fa-facebook" aria-hidden="true"></i> Facebook
                    </a>
                    <br>
                    <!-- <a href="#" class="footer-link">
                        Instagram <i class="fab fa-instagram"></i>
                    </a> -->
                    <!-- <br> -->
                    <a href="https://forms.gle/9Eed7sKLLBStVnfR8" class="footer-link">
                        <i class="fas fa-file-alt"></i> Contact Form
                    </a>
                </p>
            </div>
            <div class="footer-col text-left col-11 col-md-6">
                <h5>Credits</h5>
                <hr align="left">
                <p class="footer-text">
                    Brought to you by the <a href="{{ site.baseurl }}/aboutus" class="footer-link"><strong>GC50 Virtual Challenge Committee</strong></a>.
                </p>
            </div>
        </div>
    </div>
</footer>