<div class="row justify-content-center">
    <div class="col-12 col-xl-6">
        <p>
            Whether you're running, swimming, or cycling for your community, yourself, or the person who controls your ranking, we're all in this together!
        </p>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-xl-6">
        <p>
            Clock your mileage here:
        </p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfpZtrg8UDTquJrDT0TkHjDAUEqgbAhfupPh46J8qz30MuKNQ/viewform?usp=sf_link" target="_blank">
            <img class="sheets-icon" src="assets/site/google_sheets.png">
        </a>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-xl-6">
        <p class='lb-text' style="margin-top: 0.8rem;">
            Join us in our quest to 50,000km!
        </p>
    </div>
</div>