<!-- MVP -->
<div class="award-badge col-6">
    <img src="assets/badges/MVP.png">
    <br>
    <span class="badge-title">
        MVP
    </span>
    <br>
    <a href="" class="badge-text" data-toggle="modal" data-target="#mvp">
        6 unlocked
    </a>
</div>

<div class="modal fade" id="mvp" tabindex="-1" role="dialog" aria-labelledby="mvp_Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mvp_Label">
                    MVP
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="modal-subtitle text-left">Awarded to those who have clocked the most mileage each week.</p>
                <br>
                <!-- <div class="text-center">
                    This badge has not been awarded to anyone yet.
                </div> -->
                <div class="row">
                    <div class="col-12"><strong>Week 1:</strong> Extreme</div>
                    <div class="col-12"><strong>Week 2:</strong> Ben</div>
                    <div class="col-12"><strong>Week 3:</strong> Hasty</div>
                    <div class="col-12"><strong>Week 4:</strong> Lee Wen Yang</div>
                    <div class="col-12"><strong>Week 5:</strong> Extreme</div>
                    <div class="col-12"><strong>Week 6:</strong> Ben</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- The Flash -->
<div class="award-badge col-6">
    <img src="assets/badges/The Flash.png">
    <br>
    <span class="badge-title">
        The Flash
    </span>
    <br>
    <a href="" class="badge-text" data-toggle="modal" data-target="#theflash">
        6 unlocked
    </a>
</div>

<div class="modal fade" id="theflash" tabindex="-1" role="dialog" aria-labelledby="theflash_Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="theflash_Label">
                    The Flash Badge
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="modal-subtitle text-left">Awarded to those who have run the fastest timing for 5 km each week.</p>
                <br>
                <!-- <div class="text-center">
                    This badge has not been awarded to anyone yet.
                </div> -->
                <div class="row">
                    <div class="col-12"><strong>Week 1:</strong> Hasty</div>
                    <div class="col-12"><strong>Week 2:</strong> K Y Leong</div>
                    <div class="col-12"><strong>Week 3:</strong> Vapor</div>
                    <div class="col-12"><strong>Week 4:</strong> Vapor</div>
                    <div class="col-12"><strong>Week 5:</strong> Irwin Chua</div>
                    <div class="col-12"><strong>Week 6:</strong> Irwin Chua</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Other Badges -->
{% assign badge_names = "Baby Steps,Half Ironman,Ironman,ONE PUNCHHHHH,Mount Everest,Marathon,Run For Your Life,Buns of Steel,Cycopath,Tour de Singapore,Frogman,Swordfish,Iron Lungs" | split:"," %}
{% assign badges = site.data.badges %}

{% assign badge_counter = 1 %}

{% for badge_name in badge_names %}

    {% assign badge_list = badges | where:"badge",badge_name %}
    <div class="award-badge col-6">
        <img src="assets/badges/{{ badge_name }}.png">
        <br>
        <span class="badge-title">
            {{ badge_name }}
        </span>
        <br>
        <a href="" class="badge-text" data-toggle="modal" data-target="#badge{{ badge_counter }}">
            {% assign n_unlocked = badge_list | size | minus:1 %}
            {{ n_unlocked }} unlocked
        </a>
    </div>

    <div class="modal fade" id="badge{{ badge_counter }}" tabindex="-1" role="dialog" aria-labelledby="badge{{ badge_counter }}_Label" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="badge{{ badge_counter }}_Label">
                        {{ badge_name }} Badge
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="modal-subtitle text-left">{{ badge_list.first.definition }}</p>
                    <br>
                    {% if n_unlocked > 0 %}
                        <div class="row">
                            {% for entry in badge_list %}
                                {% if entry.name.size > 0 %}
                                    <div class="col-6">
                                        {{ entry.name }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="text-center">
                            This badge has not been unlocked by anyone yet.
                        </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Increment counter -->
    {% assign badge_counter = badge_counter | plus: 1 %}
{% endfor %}