<section class="lb-halloffame page-section bg-secondary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11 text-center">
                <h2 class="page-section-header text-center">Hall of Fame</h2>
                <p style="font-style: italic;">Hail the GC50 Virtual Challenge Weekly Champions!</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-11">
                <!-- Week 1 -->
                <div class="row justify-content-center">
                    <div class="col-12">
                        <button class="btn btn-hof w-100 collapsed" type="button" data-toggle="collapse" data-target="#wk1" aria-expanded="true" aria-controls="qa13">
                            <span class="hof-title">Week 1</span>
                        </button>
                        <div class="collapse show" id="wk1">
                            <div class="card card-body card-hof">
                                <div>
                                    <hr class="hof-hr">
                                </div>
                                <div class="row justify-content-center">
                                    <!-- MVP -->
                                    <div class="col-12 col-lg-5 hof-section">
                                        <div class="row justify-content-center">
                                            <div class="col-12 text-center hof-badge">
                                                <img src="assets/badges/MVP.png">
                                            </div>
                                            <div class="col-12 text-center">
                                                <span class="hof-sectiontitle">MVP</span>
                                                <br>
                                                <span class="hof-subtitle">Lee Wen Yang</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- The Flash -->
                                    <div class="col-12 col-lg-5 hof-section">
                                        <div class="row">
                                            <div class="col-12 text-center hof-badge">
                                                <img src="assets/badges/The Flash.png">
                                            </div>
                                            <div class="col-12 text-center">
                                                <span class="hof-sectiontitle">The Flash</span>
                                                <br>
                                                <span class="hof-subtitle">Hasty</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Individual Mileage -->
                                    <div class="col-12 col-lg-5 hof-section text-center">
                                        <div class="text-center">
                                            <span class="hof-sectiontitle">Solo - Top 5</span>
                                        </div>
                                        <div>
                                            <table class="table hof-table">
                                                <thead>
                                                    <tr>
                                                        <th>Rank</th>
                                                        <th>Name</th>
                                                        <th>Total Mileage</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Lee Wen Yang</td>
                                                        <td>204.35km</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Ben</td>
                                                        <td>161.01km</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Extreme</td>
                                                        <td>158.56km</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>Sloh</td>
                                                        <td>139.52km</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>Hasty</td>
                                                        <td>130.74km</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <!-- Individual Mileage -->
                                    <div class="col-12 col-lg-5 hof-section">
                                        <div class="text-center">
                                            <span class="hof-sectiontitle">Solo - Top 5</span>
                                        </div>
                                        <div>
                                            <table class="table hof-table">
                                                <thead>
                                                    <tr>
                                                        <th>Rank</th>
                                                        <th>Name</th>
                                                        <th>Total Mileage</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Lee Wen Yang</td>
                                                        <td>204.35km</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Ben</td>
                                                        <td>161.01km</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Extreme</td>
                                                        <td>158.56km</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>Sloh</td>
                                                        <td>139.52km</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>Hasty</td>
                                                        <td>130.74km</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>