<!-- Leaderboard -->
<div class="row justify-content-center">
    <div class="col-11">
        <h2 class="page-section-header text-center">Mileage Leaderboard</h2>
        <div class="community-lb-panel text-center">
            <h3 class="page-section-subheader text-center">GC Community</h3>
            <div id="comm-progress" class="progress-circle text-center"></div>
            <span class="lb-text">
                {% assign digits = site.data.commMileage[0].Total | split:'' %}
                {% assign mileage_formatted = '' %}
                {% for digit in digits %}
                    {% assign threeFromEnd = digits.size | minus:forloop.index | modulo: 3 %}
                    {% if threeFromEnd == 2 and forloop.index != 1 %}
                        {% assign mileage_formatted = mileage_formatted | append: ',' | append: digit %}
                    {% else %}
                        {% assign mileage_formatted = mileage_formatted | append: digit %}
                    {% endif %}
                {% endfor %}

                {{ mileage_formatted }} of 50,000 km attained!
            </span>
        </div>
        <div class="subcomm-lb-panel">
            <h3 class="page-section-subheader text-center">Sub-Community</h3>
            <canvas id="subcomm-lb" width="500" height="200"></canvas>
        </div>
        <div class="indiv-lb-panel">
            <h3 class="page-section-subheader text-center">Solo</h3>
            <canvas id="indiv-lb" width="500" height="300"></canvas>
        </div>
    </div>
</div>