<div id="timeline">
    <div class="timeline-item achieved">
        <div class="timeline-icon">
            <img src="assets/site/star.svg" width="25px" alt="">
        </div>
        <div class="timeline-content">
            <h2>Launch of GC50 Virtual Challenge</h2>
            <p>
                The GC50 Virtual Challenge was launched on 20 Oct 2020!
                <br>
                <strong>Start clocking them miles!</strong>
            </p>
        </div>
    </div>

    <!-- <div class="timeline-item">
        <div class="timeline-icon">
            <img src="assets/site/star.svg" width="25px" alt="">
        </div>
        <div class="timeline-content float-right">
            <h2>Milestone 1</h2>
            <p>
                Hit <strong>500km</strong> to unlock this milestone!
            </p>
        </div>
    </div> -->

    <div class="timeline-item upcoming">
        <div class="timeline-icon">
            <img src="assets/site/question_mark.svg" width="25px" alt="">
        </div>
        <div class="timeline-content upcoming float-right">
            <h2 class="upcoming">Need more mileage!</h2>
            <p>
                Hit <strong>10,000km</strong> as a community to unlock this milestone!
            </p>
        </div>
    </div>
</div>