<div id="timeline">
    <!-- Launch -->
    <div class="timeline-item achieved">
        <div class="timeline-icon">
            <img src="assets/site/star.svg" width="25px" alt="">
        </div>
        <div class="timeline-content">
            <h2>Launch of GC50 Virtual Challenge</h2>
            <p>
                The GC50 Virtual Challenge was launched on 20 Oct 2020!
                <br>
                <strong>Start clocking them miles!</strong>
            </p>
        </div>
    </div>

    <!-- Milestone 1 -->
    <div class="timeline-item achieved">
        <div class="timeline-icon">
            <img src="assets/site/star.svg" width="25px" alt="">
        </div>
        <div class="timeline-content float-right">
            <h2>Unveiling of GC50 Banner</h2>
            <p>
                We have hit <strong>10,000km</strong> as a community! Head down to our <a href="https://www.facebook.com/groups/GBADC3Community" class="milestone-link" target="_blank">GC Facebook group</a> to see our latest GC50 Banner!
            </p>
        </div>
    </div>

    <!-- <div class="timeline-item achieved">
        <div class="timeline-icon">
            <img src="assets/site/star.svg" width="25px" alt="">
        </div>
        <div class="timeline-content float-right">
            <h2>Milestone 1</h2>
            <p>
                Hit <strong>500km</strong> to unlock this milestone!
            </p>
        </div>
    </div> -->

    <div class="timeline-item upcoming">
        <div class="timeline-icon">
            <img src="assets/site/question_mark.svg" width="25px" alt="">
        </div>
        <div class="timeline-content upcoming">
            <h2 class="upcoming">Need more mileage!</h2>
            <p>
                Hit <strong>20,000km</strong> as a community to unlock this milestone!
            </p>
        </div>
    </div>
</div>