<!DOCTYPE html>
    
    {% include head.html %}
    
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                GC50 Virtual Sport Challenge
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.baseurl }}/rules">Mileage</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.baseurl }}/about">Top Achievers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.baseurl }}/rules">Rules</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class='spacer'></div>
        <div id='main'>
            {{ content }}
        </div>

        {% include footer.html %}

    </body>
    <script>
        function getTimeRemaining(endtime) {
            const total = Date.parse(endtime) - Date.parse(new Date());
            const seconds = Math.floor((total / 1000) % 60);
            const minutes = Math.floor((total / 1000 / 60) % 60);
            const hours = Math.floor((total / (1000 * 60 * 60)) % 24);
            const days = Math.floor(total / (1000 * 60 * 60 * 24));
            
            return {
                total,
                days,
                hours,
                minutes,
                seconds
            };
        };
          
        function initializeClock(id, endtime) {
            const clock = document.getElementById(id);
            const daysSpan = clock.querySelector('.days');
            const hoursSpan = clock.querySelector('.hours');
            const minutesSpan = clock.querySelector('.minutes');
            const secondsSpan = clock.querySelector('.seconds');
          
            function updateClock() {
                const t = getTimeRemaining(endtime);
          
                daysSpan.innerHTML = t.days;
                hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
                minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
                secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);
            
                if (t.total <= 0) {
                    clearInterval(timeinterval);
                }
            };
          
            updateClock();
            const timeinterval = setInterval(updateClock, 1000);
        };
          
        const deadline = new Date(Date.parse('2020-10-20') + 50 * 24 * 60 * 60 * 1000);
        initializeClock('clockdiv', deadline);
    </script>
</html>