<!DOCTYPE html>
<html>
    
    {% include head.html %}
    
    <body>
        <nav class="navbar navbar-expand-xl navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/assets/site/logo.png" class="event-logo" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.baseurl }}/leaderboard">Leaderboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.baseurl }}/rules">Rules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.baseurl }}/badges">Badges</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.baseurl }}/aboutus">About Us</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="spacer"></div>
        <div id="main">

            <!-- Default header -->
            <section id="info-head" class="info-head">
                <div class="container text-center">
                    <div class="row justify-content-center">
                        <div class="col-11">
                            <h1 class="masthead-header">{{ page.title }}</h1>
                        </div>
                    </div>
                </div>
            </section>
            {{ content }}
        </div>
        
        {% include stats_footer.html %}

    </body>
</html>